<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coin Flipper</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Flip a coin!</h1>
    <img id="coin" src="" />
    <p id="coin-text"></p>
    <button id="flip-button">Flip!</button>

    <script src="/main.js"></script>
</body>
</html>